
/* Custom styles */
#responsiveImageNav {
    max-width: 150px; /* Adjust the max-width as needed */
    height: auto;
}

body {
    padding-top: 155px; /* Adjust the value based on your top navigation bar's height */
    background-color: #e5e5e5;
    color: #66424e;
    font-weight: bold;
}

/* Adjust margin for form labels to avoid being hidden behind the navigation bar */
.form-group label {
    margin-top: 25px; /* Adjust the margin-top as needed */
}

/* Custom styles */
#groupedPlayers {
    display: flex;
    flex-wrap: wrap;
}

.card {
    position: relative; /* Set position relative for absolute positioning of the net */
    width: calc(33.33% - 20px);
    min-width: 300px;
    margin: 10px;
    transition: transform 0.3s ease-in-out;
    background-color: #99999b;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.05);
}

.team-container {
    margin-top: 15px;
    position: relative; /* Set position relative for absolute positioning of the net */
    border: 4px solid #fff;
    border-radius: 5px;
}

/* Styling for team header */
.team-container h6 {
    background-color: #66424e;
    color: #fff;
    padding: 8px;
    margin-bottom: 5px;
}

.score-form-container {
    /* Back of the card styles */
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    background-color: #99999b;
    border-radius: 5px;
}

/* Styling for player list */
.list-group-item {
    background-color: #99999b;
    color: #fff;
}

.court-card {
    position: relative;
    width: 200px;
    height: 400px;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.court-card .card-body {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.court-card .card-body.front {
    z-index: 2;
}

.court-card .card-body.back {
    transform: rotateY(180deg);
    z-index: 1;
}

.court-card.flipped {
    transform: rotateY(180deg);
}
